<p>login works!</p>
    <form action="" (ngSubmit)="log()" #myform="ngForm" style="padding-left: 30px;">
    <div class="col-md-4 mb-3">
        <label for="">Username</label>
        <div>
            <input class="form-control" type="text" name="name" [(ngModel)]=login.name>
        </div>
        </div>
    <div class="col-md-4 mb-3">
        <label for="">Password</label>
        <div>
            <input class="form-control" type="password" name="password" [(ngModel)]=login.password>
        </div>
    </div>
</form>
<button (click)='loggin()' class="btn btn-success">Login</button>